{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "modules": false,
      "loose": true,
      "useBuiltIns": true
    }],
    "stage-3"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-runtime",
    "transform-class-properties",
    "lodash"
  ],

  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
